@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* swiper js style buton */
/* Menyembunyikan tombol jika tidak diaktifkan */
.swiper-button-disabled {
  opacity: 0.3;
}

/* Tombol navigasi */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Warna putih untuk tombol */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Untuk browser berbasis Webkit seperti Chrome, Edge, dan Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none; /* Untuk Firefox */
}

.default-input {
  background-color: white; /* Atur ke warna yang Anda inginkan */
  appearance: none;
  -webkit-appearance: none;
}

.title-style {
  @apply text-2xl font-semibold text-zinc-800 dark:text-white;
}