@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* swiper js style buton */
/* Menyembunyikan tombol jika tidak diaktifkan */
.swiper-button-disabled {
  opacity: 0.3;
}

/* Tombol navigasi */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Warna putih untuk tombol */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Untuk browser berbasis Webkit seperti Chrome, Edge, dan Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none; /* Untuk Firefox */
}

/* Global Scrollbar Style */
::-webkit-scrollbar {
  width: 12px; /* Lebar scrollbar */
  height: 12px; /* Tinggi scrollbar (horizontal) */
}

/* Track (latar belakang scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Warna latar belakang */
  border-radius: 10px; /* Membuat sudut rounded */
}

/* Thumb (pegangan scrollbar) */
::-webkit-scrollbar-thumb {
  background: #8e1538;
  opacity: 0.5;
  border-radius: 10px; /* Membuat sudut rounded */
  border: 2px solid #f0f0f0; /* Memberikan padding */
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #cd4068;
  cursor: pointer;
}

.default-input {
  background-color: white; /* Atur ke warna yang Anda inginkan */
  appearance: none;
  -webkit-appearance: none;
}

.title-style {
  @apply text-xl md:text-2xl font-semibold text-zinc-800 dark:text-white;
}

a.active {
  @apply text-primary-100;
}
